@using TaskLog.Models
@model TaskLog.Models.Project

<h1>Edit Project:</h1>

<p>______________________________________________________________________________________________________________________________________________________________
</p>
<br>

<br>
<form asp-action="EditProject" method="POST">
    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="ProjectName"></span>
        <label asp-for="ProjectName"></label>
        <input asp-for="ProjectName" class="form-group form-control">
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="ProjectDescription"></span>
        <label asp-for="ProjectDescription"></label>
        <textarea type="text" asp-for="ProjectDescription" class="form-group form-control"></textarea>
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="DueDate"></span>
        <label asp-for="DueDate"></label>
        <input type="date" asp-for="DueDate" class="form-group form-control">
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="ProjectStatus"></span>
        <label asp-for="ProjectStatus"></label>
        <select name="ProjectStatus" id="">
            <option value="New">New</option>
            <option value="Done">Done</option>
            <option value="NeedHelp">Need Help</option>
            <option value="DeleteMe">DELETE ME</option>
        </select>
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="EstimatedTime"></span>
        <label asp-for="EstimatedTime"></label>
        <input type="number" asp-for="EstimatedTime" class="form-group form-control">
    </div>

    <input type="hidden" value="@Model.ProjectID">

    <input type="submit" class="btn btn-primary btn-sm" value="Update">
    <td class="text-left"><a asp-action="Dashboard" role="button" class="btn btn-danger btn-sm">Cancel</a>
    </td>

</form>