@using TaskLog.Models
@model TaskLog.Models.Task

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

<h1>Add a Task!</h1>

<p>______________________________________________________________________________________________________________________________________________________________
</p>
<br>

<br>
<form asp-action="ProcessTask" method="POST">
    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="TaskName"></span>
        <label asp-for="TaskName"></label>
        <input asp-for="TaskName" class="form-group form-control">
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="TaskDescription"></span>
        <label asp-for="TaskDescription"></label>
        <textarea type="text" asp-for="TaskDescription" class="form-group form-control"></textarea>
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="DueDate"></span>
        <label asp-for="DueDate"></label>
        <input type="date" asp-for="DueDate" class="form-group form-control">
    </div>

    <div>
        <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
        <span asp-validation-for="EstimatedTime"></span>
        <label asp-for="EstimatedTime"></label>
        <input type="number" asp-for="EstimatedTime" class="form-group form-control">
    </div>


    <input type="hidden" value="@ViewBag.UserId">

    <input type="submit" class="btn btn-primary btn-sm" value="Create">
    <td class="text-left"><a asp-action="Dashboard" role="button" class="btn btn-danger btn-sm">Cancel</a>
    </td>

</form>