@using TaskLog.Models
@model TaskLog.Models.SubTask

<link rel="stylesheet" href="/wwwroot/css/dashboard.css">
<link rel="stylesheet" href="/wwwroot/css/viewtask.css">

<ul id="navBar">

    <h3 id="title">TASK LOG</h3>

    <li id="menuIcon"><img src="https://img.icons8.com/material-rounded/32/000000/menu.png"></li>

    <li><a class="active" href="/dashboard">Home</a></li>
    <li><a href="#news">Link</a></li>
    <li><a href="#contact">Link</a></li>
    <li><a href="#about">Link</a></li>

    <li><img id="userIcon" src="https://img.icons8.com/material-rounded/48/000000/user-male-circle.png"></li>
    <li id="loggedUser">Welcome, Bryon!</li>
</ul>

<div class="row task-task-container">
    <div class="col-lg">
        <form asp-action="EditSubTask" method="POST">
            <div class="card-lg">
                <h1>@Model.SubTaskName</h1>
                <h2>Due: @Model.DueDate.ToString("d")</h2>
                <h3>Created by: <em>@Model.SubTaskCreator.Email</em></h3>
                <div class="hr"></div>
                <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
                <span asp-validation-for="SubTaskName"></span>
                <label asp-for="SubTaskName"></label>
                <input asp-for="SubTaskName" class="form-group form-control">

                <div>
                    <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
                    <span asp-validation-for="SubTaskDescription"></span>
                    <label asp-for="SubTaskDescription"></label>
                    <textarea type="text" asp-for="SubTaskDescription" class="form-group form-control"></textarea>
                </div>

                <div>
                    <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
                    <span asp-validation-for="DueDate"></span>
                    <label asp-for="DueDate"></label>
                    <input type="date" asp-for="DueDate" class="form-group form-control">
                </div>

                <div>
                    <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
                    <span asp-validation-for="EstimatedTime"></span>
                    <label asp-for="EstimatedTime"></label>
                    <input type="number" asp-for="EstimatedTime" class="form-group form-control">
                </div>

                <input type="hidden" value="@Model.SubTaskID">

                <input type="submit" class="btn btn-primary btn-sm" value="Update">
                <td class="text-left"><a asp-action="Dashboard" role="button" class="btn btn-danger btn-sm">Cancel</a>
                </td>

            </div>


        </form>
        <input type="hidden" asp-for="@Model.SubTaskID" />
    </div>
    <div class="col-lg">
        <h1 id="mainHeader">SubTasks(@ViewBag.SubTasks.Count)<a asp-action="NewSubTask" id="newSubTaskBtn"><img
                    src="https://img.icons8.com/flat_round/24/000000/plus.png"></a> </h1>
        @foreach(var s in @ViewBag.SubTasks){
        <div class="card-subtask bg-light">
            @s.SubTaskName
            <div class="card-input-group">
                <a asp-action="ViewSubTask" id="editBtn" asp-route-subTaskId="@s.SubTaskID"><img
                        src="https://img.icons8.com/material-two-tone/24/000000/pencil.png"></a>
                @if(@ViewBag.UserId == @s.SubTaskCreatorUserId)
                {
                <a asp-action="DeleteTask" id="delBtn" asp-route-subTaskId="@s.SubTaskID"><img
                        src="https://img.icons8.com/material-rounded/24/000000/delete-trash.png"></a>
                }

            </div>

        </div>
        <br>
        }

    </div>